<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>publish-Community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--    引入静态资源目录下的css文件和js文件-->
    <link rel="shortcut icon" href="http://localhost:8080/imgs/logo.ico" />
    <link rel="stylesheet" href="http://localhost:8080/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://localhost:8080/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:8080/css/community.css">
    <link rel="stylesheet" href="http://localhost:8080/css/editormd.css">
    <script src="http://localhost:8080/js/jquery-3.6.0.min.js" type="application/javascript"></script>
    <script src="http://localhost:8080/js/community.js" type="application/javascript"></script>
    <script src="http://localhost:8080/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="http://localhost:8080/js/editormd.min.js" type="application/javascript"></script>

</head>
<body>
    <div th:insert="~{navigation :: nav}"></div>
    <div class="container-fluid main">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
                <hr>
<!--                点击提交之后，以post方式路由到/publish页面-->
                <form action="/publish" method="post">
<!--                    默认不显示问题的id，该条语句是为了传递给后端进行交互-->
                    <input type="hidden" name="id" th:value="${id}">
                    <!--                一个输入框，输入问题-->
                    <div class="form-group">
                        <label for="title">问题标题（简单扼要）</label>
                        <input type="text" class="form-control"
                               autocomplete="off"
                               th:value="${title}" id="title" name="title" placeholder="问题标题....">
                    </div>
                    <!--                问题内容描述的填充区域,添加了支持markdown语法-->
                    <div class="form-group" id="question-editor">
                        <label for="description">问题补充 (必填，请参照右侧提示):</label>
                        <textarea class="form-control" name="description" style="display: none"
                                  autocomplete="off" th:text="${description}" id="description" cols="30" rows="10"></textarea>
                    </div>

                    <script type="text/javascript">
                        $(function() {
                            var editor = editormd("question-editor", {
                                width  : "100%",
                                height : 350,
                                path   : "/js/lib/",
                                delay : 0,
                                placeholder: "输入问题描述~~~",
                                emoji : true,
                                imageUpload    : true,
                                imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                                imageUploadURL : "/file/upload"
                            });
                        });
                    </script>

                    <!--问题的标签栏-->
                    <div class="form-group">
                        <label for="tag">添加标签:</label>
                        <input type="text" class="form-control" autocomplete="off"
                               id="tag" name="tag" th:value="${tag}" onclick="showTags()" placeholder="选择一个或多个标签">

                    <!-- 备选标签-->
                        <div id="show-tag" class="publish-tag-tab">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" th:each="tagg, taggStatus: ${tags}" th:class="${taggStatus.first ? 'active' : ''}">
                                    <a th:href="${'#' + tagg.getCategoryName()}" aria-controls="home" role="tab" data-toggle="tab" th:text="${tagg.getCategoryName()}"></a>
                                </li>
                            </ul>

                            <!-- Tab panes, class里面不设置为active，即默认不显示 -->
                            <div class="tab-content tab-con-pad">
                                <div role="tabpanel" th:class="${taggStatus.first ? 'active tab-pane' : 'tab-pane'}"
                                     th:each="tagg, taggStatus : ${tags}" th:id="${tagg.getCategoryName()}">
                                    <span class="label label-info" th:each="littleTag : ${tagg.getTags()}">
                                        <span class="glyphicon glyphicon-tags" onclick="selectTag(this)" th:data-tag="${littleTag}" th:text="${' ' + littleTag}"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid main">
                        <div class="row">
<!--                            error表示接收从服务端发送过来的信息并显示-->
                            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                <div class="alert alert-danger" th:text="${error}" th:if="${error != null}"></div>
                            </div>
                            <!--            提交按钮-->
                            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                <button type="submit"
                                        class="btn btn-success btn-publish">确认发起
                                </button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h3>问题发起指南</h3>
                • 问题标题: 请用精简的语言描述您发布的问题，不超过25字<br>
                • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料：<br>
                • 选择标签: 选择一个或者多个合适的标签，不超过10个字<br>
            </div>
        </div>
    </div>
    <div th:insert="~{footer :: foot}"></div>
</body>
</html>